/*
 * Copyright 2002 - 2015 Webdetails, a Pentaho company. All rights reserved.
 *
 * This software was developed by Webdetails and is provided under the terms
 * of the Mozilla Public License, Version 2.0, or any later version. You may not use
 * this file except in compliance with the license. If you need a copy of the license,
 * please go to http://mozilla.org/MPL/2.0/. The Initial Developer is Webdetails.
 *
 * Software distributed under the Mozilla Public License is distributed on an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. Please refer to
 * the license for the specific language governing your rights and limitations.
 */

/* ================ FONTS ================ */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/opensans-light.woff2) format('woff2'),
       url(../fonts/opensans-light.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/opensans-regular.woff2) format('woff2'),
       url(../fonts/opensans-regular.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/opensans-semibold.woff2) format('woff2'),
       url(../fonts/opensans-semibold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/opensans-bold.woff2) format('woff2'),
       url(../fonts/opensans-bold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/opensans-extrabold.woff2) format('woff2'),
       url(../fonts/opensans-extrabold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/opensans-light-italic.woff2) format('woff2'),
       url(../fonts/opensans-light-italic.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/opensans-italic.woff2) format('woff2'),
       url(../fonts/opensans-italic.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url(../fonts/opensans-semibold-italic.woff2) format('woff2'),
       url(../fonts/opensans-semibold-italic.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/opensans-bold-italic.woff2) format('woff2'),
       url(../fonts/opensans-bold-italic.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url(../fonts/opensans-extrabold-italic.woff2) format('woff2'),
       url(../fonts/opensans-extrabold-italic.woff) format('woff');
}

/* GENERAL */
html,
body,
.full-height {
	height: 100%;
	overflow: hidden;
}

body {
	font-family: 'Open Sans';
}

/* NAVBAR */
.navbar {
	height: 70px;
	background: #FFF;
	border-bottom: 1px solid #D1D3D3;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar li.det-plugin a {
  float: right;
  color: rgba(51, 51, 51, 0.5);
  text-transform: uppercase;
  padding: 10px 0;
  margin-left: 25px;
}

.navbar li.det-plugin.active a {
  float: right;
  color: #005DA6;
  background: none;
  cursor: default;
}

.navbar .profile-link a,
.navbar .profile-link a:link,
.navbar .profile-link a:visited,
.navbar .profile-link a:hover,
.navbar .profile-link a:active,
.navbar .profile-link a:focus {
  background: none;
  cursor: default;
}

select {
  outline: 0 none;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  padding: 0;
  border: 0 none;
  margin-top: 9px;
  cursor: pointer;
}

/* NAVIGATION */
.navigation-lap {
    position: absolute;
    width: 60px;
    left: 0;
    background-color: #333;
    height: 100%;
    height: calc(100% - 109px);
    overflow: hidden;
    top: 109px;
}

.navigation-lap > nav > .nav > li {
  padding: 10px 10px 0;
  margin: 0;
}

.navigation-lap > nav > .nav > li > a {
  padding: 0;
  margin: 0;
  height: 40px;
  display: block;  
  background: none;
  background-image: url(../img/navigation-sprite.svg);
  background-repeat: no-repeat;
  border-radius: 5px;
  outline: 0 none;

  /* Hide the text. */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.no-svg .navigation-lap > nav > .nav > li > a {
  background-image: url(../img/navigation-sprite.png);
}

.navigation-lap > nav > .nav > li.det-data-table-component > a {
  background-position: 0 -40px;
}

.navigation-lap > nav > .nav > li.det-data-table-component.active > a {
  background-position: 0 0;
}

.navigation-lap > nav > .nav > li.det-bar-chart-component > a {
  background-position: -40px -40px;
}

.navigation-lap > nav > .nav > li.det-bar-chart-component.active > a {
  background-position: -40px 0;
}

.navigation-lap > nav > .nav > li.det-data-table-pivot-component > a {
  background-position: -80px -40px;
}

.navigation-lap > nav > .nav > li.det-data-table-pivot-component.active > a {
  background-position: -80px 0;
}

.navigation-lap > nav > .nav > li:not(.active) > a:hover {
  background-color: rgba(20,20,20,.75);
}

.navigation-lap > nav > .nav > li.active > a {
  background-color: #141414;
}

.navigation-lap > nav > .nav > li > a.det-data-explorer-plugin-module.det-data-table-component {
  background-position: 0 -40px;
}

.navigation-lap > nav > .nav > li.active > a.det-data-explorer-plugin-module.det-data-table-component {
  background-position: 0 0;
}

/* MAIN CONTENT */
.main-content {
	padding-top: 110px;
	background: #F5F5F5;
  padding-right: 0;
}

.views-container {
  display: inline;
}

.app-wrapper {
	padding-left: 60px;
}

/* HEADER */
.header-row {
	position: absolute;
	top: 70px;
	height: 40px;
	border-bottom: 1px solid #D1D3D3;
	width: 100%;
  left: 15px;
  padding-left: 60px;
}

button.stop-button {
  width: 24px;
  height: 24px;
  border: 0 none;
  background: none;
  background-image: url(../img/stop-icon.svg);
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  outline: 0 none;
  margin-top: 7px;
}

.no-svg button.stop-button {
  background-image: url(../img/stop-icon.png);
}

button.stop-button:hover {
  background-position: top center;
}

button.stop-button:before {
  content: 'STOP';
  font-size: 9px;
  color: #005da6;
  position: absolute;
  right: 29px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: 15px;
  line-height: 15px;
  visibility: hidden;
}

button.stop-button:hover:before {
  visibility: visible;
}

button.stop-button[disabled="disabled"],
button.stop-button[disabled],
button.stop-button[disabled="disabled"]:hover,
button.stop-button[disabled]:hover {
  background-position: bottom center;
  opacity: .3;
  cursor: default;
}

button.stop-button[disabled="disabled"]:hover:before,
button.stop-button[disabled]:hover:before {
  display: none;
}

.rows-number-info {
  line-height: 20px;
  margin: 10px 0;
  font-size: 11px;
  text-transform: uppercase;
  color: #999;
}

.rows-number-value {
  color: #333;
  font-weight: 600;
}

button.more-rows-button {
  line-height: 20px;
  padding: 0;
  margin: 10px 0 10px 20px;
  font-size: 11px;
  color: #005DA6;
  display: block;
  float: left;
  border: 0 none;
  outline: 0 none;
  background: none;
}

/* TABLE */

.table-column .info {
	line-height: 20px;
	position: absolute;
	width: 100%;
	top: 15px;
}

.det-data-table {
	display: block;
	overflow: auto;
	border: 1px solid #D1D3D3;
  background: #EEEEEE;
  margin-left: -15px;
}

.det-data-table .table {	
	margin-bottom: 0;
	font-size: 11px;
	font-weight: 400;
	color: #555;
  position: relative;
}

.det-data-table .table > thead > tr > th,
.det-data-table .table > tbody > tr > td {
	border-right: 1px solid #D1D3D3;
	border-top: 0 none;
	border-bottom: 0 none;
}

.det-data-table .table > thead > tr > th {
  border-bottom: 1px solid #D1D3D3;
  font-size: 11px;
  font-weight: 400;
  color: #333;
  white-space: nowrap;
  position: static;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.det-data-table .table > thead > tr{
  background: #EEEEEE;
}

.det-data-table .table > thead > tr > th > div {
  position: relative;
  padding: 8px 23px 8px 8px;
}

.det-data-table .table > thead > tr > th button {
    width: 23px;
    height: 100%;
    padding: 0;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background: none;
    background-image: url(../img/close.svg);
    background-repeat: no-repeat;
    background-position: left center;
    opacity: 0;

    -webkit-transition: opacity .3s cubic-bezier(0.420, 0.000, 0.580, 1.000); 
       -moz-transition: opacity .3s cubic-bezier(0.420, 0.000, 0.580, 1.000); 
         -o-transition: opacity .3s cubic-bezier(0.420, 0.000, 0.580, 1.000); 
            transition: opacity .3s cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */

    -webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); 
       -moz-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); 
         -o-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); 
            transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}

.det-data-table .table > thead > tr > th button,
.det-data-table .table > thead > tr > th button:link,
.det-data-table .table > thead > tr > th button:visited,
.det-data-table .table > thead > tr > th button:hover,
.det-data-table .table > thead > tr > th button:active,
.det-data-table .table > thead > tr > th button:focus {
    border: 0 none;
    outline: 0 none;
}

.no-svg .det-data-table .table > thead > tr > th button {
    background-image: url(../img/close.png);
}

.det-data-table .table > thead > tr > th:hover button {
    opacity: 1;
}

.det-data-table .table > thead > tr > th button:hover {
    background-position: right center;
}

.det-data-table .table > thead > tr > th:last-child,
.det-data-table .table > tbody > tr > td:last-child {
	border-right: 0 none;
}

.det-data-table .table > tbody > tr > td {
	text-align: right;
}

.det-data-table .table > tbody > tr:nth-child(even) {
	background: #F5F5F5;
}

.det-data-table .table > tbody > tr:nth-child(odd) {
	background: #FFFFFF;
}

.group-definition {
  line-height: 30px;
  padding: 0 8px;
}

.group-wrapper {
  margin-right: 35px;
  display: inline-block;
}

.group-wrapper .group-label,
.group-wrapper .group-value {
  font-size: 11px;
}

.group-wrapper .group-value {
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 3px;
}

.det-data-group {
  border-bottom: 1px solid #D1D3D3;
  display: block;
}

.det-data-group .table > thead:first-child > tr:first-child > th {
  border-top: 1px solid #D1D3D3;
}

.det-data-group:last-child {
  border-bottom: 0 none;
}

/* FIELDS COLUMN */
.fields-column,
.selected-fields-column {
	border-right: 1px solid #D1D3D3;
	padding-top: 15px;
	padding-bottom: 15px;
	overflow: auto;
}

.model-view-placeholder {
  margin: -15px -15px 11px;
  padding: 0 15px;
  background: #EEE;
}

.model-view-title {
  line-height: 30px;
  color: rgba(51,51,51,.6);
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
}

.model-view-icon {
  width: 50px;
  height: 30px;
  background: url(../img/model-view-icon.svg) no-repeat center center;
}

.no-svg .model-view-icon {
  background: url(../img/model-view-icon.png) no-repeat center center;
}

/* PIVOT TABLE PLACEHOLDER */
.dummy-pivot-table-image {
  width: 353px;
  height: 73px;
  background: url(../img/pivot-table-placeholder.svg) no-repeat left center;
  margin-left: -15px;
}

.no-svg .dummy-pivot-table-image {
  background: url(../img/pivot-table-placeholder.png) no-repeat left center;
}

/* BAR CHART */
.bar-chart-column {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
}