<!--
  ~ This program is free software; you can redistribute it and/or modify it under the
  ~ terms of the GNU Lesser General Public License, version 2.1 as published by the Free Software
  ~ Foundation.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License along with this
  ~ program; if not, you can obtain a copy at http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html
  ~ or from the Free Software Foundation, Inc.,
  ~ 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
  ~ without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~ See the GNU Lesser General Public License for more details.
  ~
  ~ Copyright (c) 2015 Pentaho Corporation. All rights reserved.
  -->

<div class="com.pentaho.det.dataA full-height app-wrapper">
    <div class="navigation-lap">
      <nav>
        <ul class="nav">
          <li ng-repeat="state in ::vm.pluginStates track by $index" ng-class="{{::state.cssClasses}}" ui-sref-active="active">
            <a ui-sref="{{::state.name}}">{{::state.label}}</a>
          </li>
        </ul>
      </nav>    
    </div>

    <div class="row header-row">

      <div class="col-xs-4">
      </div>

      <div class="col-xs-8 text-right">
        <div class="rows-number-info pull-left">Rows: <span class="rows-number-value">{{vm.datasource.numberOfRows}}</span></div>
        <button data-ng-if="vm.isPdiPlatform()" data-ng-click="vm.transGraph.getMoreRows()" class="more-rows-button pull-left">Add rows</button>
        <button data-ng-if="vm.isPdiPlatform()" data-ng-click="vm.transGraph.stop()" data-ng-disabled="!vm.transGraph.isRunning" class="stop-button pull-right"></button>        
      </div>

    </div>

    <!-- Directives -->

    <div class="row full-height">

        <div class="col-xs-2 full-height fields-column">

            <div class="model-view-placeholder clearfix">
              <div class="model-view-title pull-left">Model View</div>
              <div class="model-view-icon pull-right"></div>
            </div>

            <div class="elements-collectors-container">

              <det-elements-collector header="vm.dropZone0.header" description="vm.dropZone0.description"
                action="link" provide="fields" elements="vm.fields" highlights="vm.highlights" class="available-fields">
              </det-elements-collector>

            </div>

        </div>

        <div class="views-container full-height" ui-view="{{::state.pluginName}}" ng-repeat="state in ::vm.pluginStates track by $index" ng-show="$state.includes('{{::state.name}}')">
        </div>

    </div>
</div>