<div class="col-xs-2 full-height selected-fields-column">

  <div class="elements-collectors-container">

    <det-elements-collector header="::vm.measuresCollector.header" description="::vm.measuresCollector.description"
        elements="[]" class="measure-fields">
    </det-elements-collector>

    <det-elements-collector header="::vm.rowsCollector.header" description="::vm.rowsCollector.description"
        elements="[]" class="row-fields">
    </det-elements-collector>

    <det-elements-collector header="::vm.columnsCollector.header" description="::vm.columnsCollector.description"
        elements="[]" class="column-fields">
    </det-elements-collector>

  </div>

</div>

<div class="col-xs-8 full-height table-column">
  <div class="dummy-pivot-table-image"></div>
</div> 