<div class="det-elements-collector" drop-channel="{{::vm.accept}}" ui-on-drop="vm.receiveField($event, $data)" on-drag-enter="vm.dragEnter($event)">
    <button ng-if="vm.remove" ng-show="vm.elements.length > 0" ng-click="vm.clear()">Clear All</button>

    <h4 class="collector-title">{{::vm.header}}</h4>

    <ol class="collector-elements" data-ng-show="vm.elements.length">
        <li data-ng-repeat="element in vm.elements">
            <div class="collector-element" ng-class="{draggable: vm.provide != null, highlight: vm.highlights[$index]}" on-drop-success="vm.dropped($event, $index)" 
                 ui-draggable="{{::vm.provide != null}}" drag-channel="{{::vm.provide}}" data-drag="{data: element, list: vm.listId, index: $index}" effect-allowed="{{::vm.action}}">

                    <span class="placeholder top" ng-if="vm.accept != null" drop-channel="{{::vm.accept}}" ui-on-drop="vm.receiveField($event, $data, $index, 'top')"></span>

                    <span class="placeholder bottom" ng-if="vm.accept != null" drop-channel="{{::vm.accept}}" ui-on-drop="vm.receiveField($event, $data, $index, 'bottom')"></span>
                    
                    <span class="collector-element-label">{{::element.label}}</span>
                    <button ng-if="vm.remove" ng-click="vm.removeField($index)"></button>
            </div>
        </li>
    </ol>

    <span class="collector-description" ng-if="vm.elements.length == 0">{{::vm.description}}</span>
</div>