/**
 * DET Elements Collector Directive
 */
.elements-collectors-container, .det-elements-collector {
    width: 100%;
}

det-elements-collector  {
    margin-left: -15px;
    margin-right: -15px;
    display: block;
}

.det-elements-collector {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    margin-bottom: 20px;
    padding-bottom: 15px;
    position: relative;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.det-elements-collector.on-drag-hover {
    background-color: rgba(237,237,237,.8);
}

h4.collector-title {
    font-size: 9px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    line-height: 30px;
    margin: 0 -15px;
    padding: 0 15px;
}

.det-elements-collector > button {
    position: absolute;
    right: 15px;
    top: 5px;
    padding: 0;
    margin: 0;
    line-height: 30px;
    font-size: 9px;
    color: #005DA6;
    border: 0 none;
    outline: 0 none;
    background: none;
    opacity: 0;

    -webkit-transition: opacity .3s cubic-bezier(0.420, 0.000, 0.580, 1.000); 
       -moz-transition: opacity .3s cubic-bezier(0.420, 0.000, 0.580, 1.000); 
         -o-transition: opacity .3s cubic-bezier(0.420, 0.000, 0.580, 1.000); 
            transition: opacity .3s cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */

    -webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); 
       -moz-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); 
         -o-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); 
            transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}

.det-elements-collector:hover > button {
    opacity: 1;
}

.collector-description {
    font-size: 9px;
    font-weight: 400;
    color: #828282;
    padding: 15px;
    text-align: center;
    display: block;
}

.det-elements-collector .collector-elements {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.det-elements-collector .collector-element {
    border: 1px solid #EDEDED;
    background: #FFFFFF;
    padding: 0 30px 0 5px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 5px;
    position: relative;
    font-size: 11px;
    text-overflow: ellipsis;
}

.group-by-fields .det-elements-collector .collector-element,
.x-axis-fields .det-elements-collector .collector-element {
    background: #CEE9F1;
    border-color: #B0DCE8;
}

.column-fields .det-elements-collector .collector-element,
.series-fields .det-elements-collector .collector-element {
    background: #D6EFC6;
    border-color: #CBEAB6;
}

.measures-fields .det-elements-collector .collector-element {
    background-color: #F0E9C7;
    border-color: #E8DDA8;
}

.available-fields h4 {
    display: none;
}

span.collector-element-label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 100%;
}

.collector-element button {
    width: 20px;
    height: 100%;
    padding: 0;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background: none;
    background-image: url(img/close.svg);
    background-repeat: no-repeat;
    background-position: left center;
    opacity: 0;

    -webkit-transition: opacity .3s cubic-bezier(0.420, 0.000, 0.580, 1.000); 
       -moz-transition: opacity .3s cubic-bezier(0.420, 0.000, 0.580, 1.000); 
         -o-transition: opacity .3s cubic-bezier(0.420, 0.000, 0.580, 1.000); 
            transition: opacity .3s cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */

    -webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); 
       -moz-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); 
         -o-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); 
            transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}

.collector-element button,
.collector-element button:link,
.collector-element button:visited,
.collector-element button:hover,
.collector-element button:active,
.collector-element button:focus {
    border: 0 none;
    outline: 0 none;
}

.no-svg .collector-element button {
    background-image: url(img/close.png);
}

.collector-element:hover button {
    opacity: 1;
}

.collector-element button:hover {
    background-position: right center;
}

.det-elements-collector .collector-element.highlight:after {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 100%;
    width: 20px;
    background-image: url(img/check.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.no-svg .det-elements-collector .collector-element.highlight:after {
    background-image: url(img/check.png);
}

.group-value {
    font-weight: bold;
}

/**
 * DET Data Table Directive
 */
.data-table-container {
    max-height: 500px;
    overflow: auto;
    clear: right;
}

.draggable {
    position: relative;
}

.draggable:hover {
    cursor: grab;
    cursor: move;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.draggable:active {
    cursor: move;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.draggable .placeholder.on-drag-enter, .draggable .placeholder.on-drag-hover {
    background-color: transparent;
    display: inline-block;
}

.draggable .placeholder.left {
    top: 0;
    bottom: 0;

    left: -1px;

    width: 50%;
}

.draggable .placeholder.left.on-drag-hover {
    border-left: 2px solid #005DA6;
}

.draggable .placeholder.right {
    top: 0;
    bottom: 0;

    right: -1px;

    width: 50%;
}

.draggable .placeholder.right.on-drag-hover {
    border-right: 2px solid #005DA6;
}

.draggable .placeholder.top {
    left: 0;
    right: 0;

    top: -5px;

    height: 75%;
}

.draggable .placeholder.top.on-drag-hover {
    border-top: 2px solid #005DA6;
}

.draggable .placeholder.bottom {
    left: 0;
    right: 0;

    bottom: -5px;

    height: 75%;
}

.draggable .placeholder.bottom.on-drag-hover {
    border-bottom: 2px solid #005DA6;
}

.draggable .placeholder, .draggable.on-dragging .placeholder {
    display: none;
    position: absolute;

    margin: 0;
    transition: margin 0.2s;
}
