<div class="col-xs-2 full-height selected-fields-column">

    <div class="elements-collectors-container">

        <det-elements-collector header="::vm.dropZone1.header" description="::vm.dropZone1.description" remove="true"
          action="move" accept="fields,x-axis-fields,y-axis-fields,series-fields" provide="x-axis-fields" elements="vm.rowsfields" 
          class="x-axis-fields">
        </det-elements-collector>

        <det-elements-collector header="::vm.dropZone2.header" description="::vm.dropZone2.description" remove="true"
          action="move" accept="fields,x-axis-fields,y-axis-fields,series-fields" provide="series-fields" elements="vm.columnsfields" 
          class="series-fields">
        </det-elements-collector>

        <det-elements-collector header="::vm.dropZone3.header" description="::vm.dropZone3.description" remove="true"
          action="move" accept="fields,x-axis-fields,y-axis-fields,series-fields" provide="y-axis-fields" elements="vm.measuresfields" 
          class="measures-fields">
        </det-elements-collector>

    </div>

</div>

<div class="col-xs-8 full-height bar-chart-column">

    <det-pentaho-visual datatable="vm.data" visual-type="x-ccc_bar" requirement-rows="vm.rowsfields" requirement-columns="vm.columnsfields" requirement-measures="vm.measuresfields"></det-pentaho-visual>

</div> 