<det-data-group ng-if="vm.groups.length > 0" ng-repeat="group in vm.groups track by $index" group="group" data="vm.data[$index]" class="det-data-group"></det-data-group>
<det-data-group ng-if="vm.groups.length == 0" data="vm.data"></det-data-group>