<div class="group-definition" drop-channel="fields,ungroupedFields,tableFields" ui-on-drop="vm.receiveField($data)" ng-show="vm.group != null">
  <span data-ng-repeat="(label, value) in ::vm.group track by label" class="group-wrapper">
    <span class="group-label">{{::label + ":"}}</span> <span class="group-value">{{::value}}</span>
  </span>
</div>

<table class="table table-striped">
  <thead drop-channel="fields,groupedFields" ui-on-drop="vm.receiveField($data)">
    <tr>
      <th class="draggable" data-ng-repeat="header in pvm.fields track by $index" ui-draggable="true" drag-channel="tableFields" drag="{data: header, list: pvm.listId, index: $index}">
        <div>
          <span class="placeholder left" drop-channel="fields,groupedFields,tableFields" ui-on-Drop="pvm.receiveField($data, $index, 'left')"></span>
          <span class="placeholder right" drop-channel="fields,groupedFields,tableFields" ui-on-Drop="pvm.receiveField($data, $index, 'right')"></span>
          {{::header.label}} ({{::header.type}}) <button ng-click="pvm.removeField($index)"></button>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="row in vm.data track by $index">
      <td data-ng-repeat="field in pvm.fields track by $index">
        {{::row.c[field.uid].v}}
      </td>
    </tr>
  </tbody>
</table>
