<div class="col-xs-2 full-height selected-fields-column">

    <div class="elements-collectors-container">

        <det-elements-collector header="::vm.dropZone1.header" description="::vm.dropZone1.description" remove="true"
          action="move" accept="fields,ungroupedFields,groupedFields,tableFields" provide="groupedFields" elements="vm.groupedFields" 
          class="group-by-fields">
        </det-elements-collector>

        <det-elements-collector header="::vm.dropZone2.header" description="::vm.dropZone2.description" remove="true"
          action="move" accept="fields,ungroupedFields,groupedFields" provide="ungroupedFields" elements="vm.ungroupedFields" 
          class="column-fields">
        </det-elements-collector>

    </div>

</div>

<div class="col-xs-8 full-height table-column">

    <det-data-table fields="vm.ungroupedFields" groups="vm.groups" data="vm.data" class="full-height det-data-table"></det-data-table>

</div> 