<div class="pentaho.det.app full-height">
  <!-- div data-ng-controller="org.pentaho.det.ApplicationController as appViewModel" -->

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">        
        <div class="row">
          <div class="col-xs-2">
            <select ng-if="::vm.datasources.length > 1" ng-model="::vm.datasourceId"
                    ng-options="::ds.uuid as ds.name for ds in ::vm.datasources"></select>
          </div>
          <div class="col-xs-10">
            <ul class="nav">
              <li class="det-plugin profile-link">
                <a href="#" onclick="return false;" title="Not available in this demo">Profile</a>
              </li>
              <li ng-repeat="state in ::vm.pluginStates" ng-class="{{::state.cssClasses}}" ui-sref-active="active">
                <a ui-sref="{{::state.name}}({'datasource-id': '{{vm.datasourceId}}'})">{{::state.label}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="main-content container-fluid full-height">
      <div data-ui-view class="full-height"></div>
    </div>

</div>